* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

header, footer {
    background-color: #2232c7;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: #0c124a;
    color: white;
}

.topic-container {
    padding: 10px;
}

.img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 80%;
    margin: 0 auto;
}