@media screen and (max-width: 500px){

    body {
        height: 100%;
    }
    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .data {
        padding: 10px;
    }

    .weather {
        margin-top: 20px;
    }

    .weather-heading {
        display: flex;
        flex-direction: column;
    }

    main {
        flex: 1;
    }
    
}


